.page {
    display: flex;
    flex-direction: column; /* Dikey sıralama */
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: whitesmoke
  }
  
  .container-post {
    margin-top: 100px;
    width: 60%; /* Tam genişlik */
    max-width: 600px; /* Maksimum genişlik */
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #343a40;
  }
  
  .card-user {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 15px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #495057;
  }
  