html, body{
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}
.page{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction:column;
}
.container-post{
    margin-top: 90px;
    margin-left: 370px;
    display: flex;
    justify-content: center;
    width: 550px;
    height: 100%;
    background-color:whitesmoke;
    border-style: solid;
    border-width: 3px;
    border-radius: 19px;
    border-color: gray;
}

.card{
    background-color: whitesmoke;
}
.card-title{
    text-align: center;
}

.card-image{
    margin-top: 120px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    border-radius: 19px;
    height: 300px;
}