<div class="app-container">
  <div class="left-side">
     <mat-nav-list class="nav-list">
      <mat-list-item>
          <span>foodCo</span>
      </mat-list-item>

      <mat-list-item>
          <span>Ana Sayfa</span>
      </mat-list-item>
      
      <mat-list-item>
          <span>Ara</span>
      </mat-list-item>

      <mat-list-item>
          <span>Mesajlar</span>
      </mat-list-item>

      <mat-list-item>
        <span>Yeni Gönderi</span>
      </mat-list-item>

      <mat-list-item>
        <span>Profil</span>
      </mat-list-item>
    </mat-nav-list>
    </div>
  
</div>