
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
}
.left-side{
    width: 20%;
    height: 100%;
    background-color: whitesmoke;    
}
.nav-list{
    margin-top: 120px;
    padding: 20px;
}
.list-item{
    width:max-content;
    margin: 50px;
}
.list-item:hover{
    cursor: pointer;
}
.divider {
    width: 2px;
    background-color: #dee2e6;
    margin: 0 15px;
  }
.router{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
}
